@import "reset.css";
/*? end import files */

body {
    font-size: 16px;
}
header {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    width: 100%;
}