@import 'reset.css';

img {
    display: block;
}
section,
.bar {
    margin: 70px auto;
}
.margin-top {
    margin-top: 9px;
}
.margin-right {
    margin-right: 17px;
}
.row {
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1000px;
    margin: 25px auto;
}
.filterBar {
    margin: 0 10px;
    border-radius: 10px;
    background-color: rgb(207, 197, 197);
    padding: 15px 25px;
    width: max-content;
    text-transform: capitalize;
}
.filterContainer {
    margin-left: 25px;
}
.active,
.filterBar:hover {
    background-color: rgb(248, 161, 0);
}
.filterContainer .row div:hover {
    cursor: pointer;
}
