/*? media elements */
@media (max-width: 870px) {
    .row {
        flex-wrap: wrap-reverse;
    }
    .header-row__col-left  {
        flex-direction: row;
    }
    .header-row__col-left .desc {
        padding-top: 2rem;
    }
    .wrapper-row {
        flex-direction: column;
    }
    /* .wrapper-row__col {
        flex-grow: 1;
    } */
    .wrapper-row__col {
        border-right: 0;
        margin: 0;
        padding-right: 0;
        border-bottom: 1px solid hsl(var(--color-grey), 0.5);
        width: 100%;
    }
}
@media (max-width: 538px) {
    .header-row__col-left {
        flex-wrap: wrap;
    }
    /* .wrapper-row {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .wrapper-row__col {
        flex-grow: 1;
    } */
}