@import 'reset.css';
/*? end import files */

.row {
    display: flex;
}
.container {
    max-width: 1100px;
    margin: auto;
}
.section-row__col-left {
    width: 40%;
}
.section-row__col-right {
    width: 60%;
}
.desc-up {
    background-color: lightskyblue;
}
.desc-down {
    background-color: lightgreen;
}
img {
    width: 100%;
}